@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

:root {
  --primary-color: #3b82f6;
  /* Blue 500 */
  --primary-color-dark: #2563eb;
  /* Blue 600 */
  --text-color-primary: #1f2937;
  /* Gray 800 */
  --text-color-secondary: #6b7280;
  /* Gray 500 */
  --background-color: #f3f4f6;
  /* Gray 100 */
  --surface-color: #ffffff;
  --border-color: #d1d5db;
  /* Gray 300 */
  --shadow-color-light: rgba(0, 0, 0, 0.05);
  --shadow-color-medium: rgba(0, 0, 0, 0.1);
  --font-family: "Inter", sans-serif;
  --spacing-unit: 8px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color-primary);
  background-color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
    env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
}
